@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}
*::selection{
     background: transparent;
}
:root {  
  --bg-body-t1:#3b4664;
  --color-t1: #fff;
  --bg-btn-t1: #252c46;
  --bg-display-t1: #181f32;
  --bg-btnGrup-t1:#eae3db;
  --bg-colorG-t1:#3b4664;
  --bg--btnGrupRest-t1: #647299;
  --bg--btnGrupCalc-t1: #d13f30;
  --bg-btnGrupHover-t1: #fffeff;
  --bg--btnHoverRes-t1: #a5aee7;
  --bg--btnHoverCalc-t1: #f96c5b;
  --box-shadow-t1: 0px -3px 1px 1px rgba(0, 0, 0, 0.4) inset;
  --box-shadowa-t1: 0px -3px 1px 1px rgba(0, 0, 0, 0.7) inset;

  --bg-body-t2:#e6e6e6;
  --color-t2: #32322a;
  --bg-btn-t2: #d3cdcd;
  --bg-display-t2: #eeeeee;
  --bg-btnGrup-t2:#e5e4e0;
  --bg-colorG-t2:#32322a;
  --bg--btnGrupRest-t2: #62b5bd;
  --bg--btnGrupCalc-t2: #ff8b38;
  --bg-btnGrupHover-t2: #f96c5b;
  --bg--btnHoverRes-t2: #62b5bd;
  --bg--btnHoverCalc-t2: #ff8b38;
   --box-shadow-t1: 0px -3px 1px 1px rgba(0, 0, 0, 0.4) inset;
  --box-shadowa-t1: 0px -3px 1px 1px rgba(0, 0, 0, 0.7) inset;
  
  --bg-body-t3:#17062a;
  --color-t3: #fff831;
  --bg-btn-t3: #1e0836;
  --bg-display-t3: #1e0836;
  --bg-btnGrup-t3:#331b4d;
  --bg-colorG-t3:#fff831;
  --bg--btnGrupRest-t3: #56077c;
  --bg--btnGrupCalc-t3: #00decf;
  --bg-btnGrupHover-t3: #6b34ac;
  --bg--btnHoverRes-t3: #8631b0;
  --bg--btnHoverCalc-t3: #94fff9;
   --box-shadow-t3: 0px -3px 1px 1px rgba(134, 27, 159) inset;
  --box-shadowa-t3: 0px -3px 1px 1px rgba(0, 0, 0, 0.7) inset;


}

body {
  background-color: var(--bg-body-t1);
}

.calc__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 45%;
  margin: auto;
}

.calc__title {
  text-align: center;
  padding: 20px;
  margin-bottom: 16px;
  font-size: 50px;
  color: #eb725d;
}

.calc__custom {
  width: 100%;
  min-width: 400px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-t1);
}

.custom__name {
  font-size: 25px;
  font-weight: 700;
}

.custom__theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
}

.custom__text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.custom__btn {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.btn__number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__bar {
  width: 100%;
  height: 16px;
  border-radius: 12px;
  position: relative;
  padding: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-btn-t1);
}

.btn__bar::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 80%;
  border-radius: 50%;
  background-color: #eb725d;
}

.calc__display {
  width: 100%;
  min-width: 400px;
  text-align: end;
  border-radius: 12px;
  font-size: 45px;
  font-weight: 900;
  padding: 30px;
  overflow-x: scroll;
  color: var(--color-t1);
  background: var(--bg-display-t1);
}

.calc__btns {
  width: 100%;
  min-width: 400px;
  border-radius: 12px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 25px;
  margin-bottom: 16px;
  background-color: var(--bg-btn-t1);
}

.calc__btns div {
  width: 100%;
  font-size: 25px;
  font-weight: 900;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  background-color: var(--bg-btnGrup-t1);
  color: var(--bg-colorG-t1);
  
  box-shadow: var(--box-shadow-t1);
  -webkit-box-shadow: var(--box-shadow-t1);
  -moz-box-shadow: var(--box-shadow-t1);
}

.calc__btns div:active {
  position: relative;
  bottom: -2px;
  filter: brightness(2);
  box-shadow: var(--box-shadowa-t1);
  -webkit-box-shadow: var(--box-shadowa-t1);
  -moz-box-shadow: var(--box-shadowa-t1);
}

div > .btndel,
div > .btnres {
  text-transform: uppercase;
  color: var(--color-t1);
  background: var(--bg--btnGrupRest-t1);
}
div > .btncalc {
  width: 100%;
  grid-column: span 2;
  color: var(--color-t1);
  background: var(--bg--btnGrupCalc-t1);
}

div > .btnres,
div > .btncalc {
  grid-column: span 2;
  width: 100%;
}

.calc__foot{
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.calc__foot img{
    width: 30px;
    height: 30px;
    object-fit: cover;
      
}
